@import "tailwindcss";
@import "./ubuntu.css";
/*@import "tw-animate-css";*/

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
   theme: dracula;
};

@utility btn {
  --size: calc(var(--spacing) * 7);
  @apply px-2;
}

@layer base {
  * {
    --apply: border-border outline-ring/50;
    }
  body {
    --apply: bg-background text-foreground;
    }
}

/*---break---*/

@layer base {
  * {
      --apply: border-border outline-ring/50;
   }
  body {
      --apply: bg-background text-foreground;
   }
};
