@import "tailwindcss";
@import "./ubuntu.css";
@import "./m3.css";

body {
  font-family: "Ubuntu", sans-serif;
}


@custom-variant dark (&:is(.dark *));


@utility btn {
  --size: calc(var(--spacing) * 7);
  @apply px-2;
}

@layer base {
  * {
    --apply: border-border outline-ring/50;
    }
  body {
    --apply: bg-background text-foreground;
    }
}

/*---break---*/

@layer base {
  * {
      --apply: border-border outline-ring/50;
   }
  body {
      --apply: bg-background text-foreground;
   }
};
