---
import '../styles/global.css'
import Barba from '../components/Barba.astro'

const { namespace } = Astro.props
const isAuth = Astro.cookies.has("jwt_token")

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<Barba />
		<link
            rel="stylesheet"
            type="text/css"
            href="/icons/regular/regular.css"
        />
	</head>
	<body data-barba="wrapper">
    	<div data-barba="container" data-barba-namespace={namespace} class="contents">
           	<header class="h-16">
               	<div class="navbar bg-base-100">
                        <div class="flex-1">
                            <a href="/" class="btn btn-ghost text-xl">CoreVox</a>
                        </div>
                        <div class="flex-none">
                            <ul class="menu menu-horizontal px-1">
                                <li><a href="/register">Зарегистрироваться</a></li>
                            <li><a href="/login">Войти</a></li>
                            </ul>
                        </div>
                    </div>
           	</header>
           	<main>
          		<slot />
           	</main>
    	</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
