---
import RoomLayout from '@/layouts/RoomLayout.astro'
import RoomSidebar from '@/components/room/RoomSidebar.vue'
const { id: roomId } = Astro.params
const me = await Astro.session?.get('me')
if (!me) {
    return Astro.redirect('/')
}
---
<RoomLayout>
    <div>
        <RoomSidebar client:idle>

        <div>
            {roomId}
        </div>
        </RoomSidebar>

    </div>
</RoomLayout>
