---
import RoomLayout from '@/layouts/RoomLayout.astro'

const { id: roomId } = Astro.params
const me = await Astro.session?.get('me')

if (!me) {
  return Astro.redirect('/')
}

---

<RoomLayout>
    <div>
        {roomId}
    </div>
</RoomLayout>
