---
import RoomLayout from '@/layouts/RoomLayout.astro'
import RoomFullMesh from '@/components/room/RoomFullMesh.vue'

const { id: roomId } = Astro.params
const me = await Astro.session?.get('me')

if (!me || !roomId) {
    return Astro.redirect('/')
}
---
<RoomLayout>
    <div>
        <RoomFullMesh
            client:only
            token={me.token}
            user={me.user}
            roomId={roomId}
        />
    </div>
</RoomLayout>
