---
import RoomLayout from '@/layouts/RoomLayout.astro'
import Room from '@/components/room/Room.vue'
const { id: roomId } = Astro.params
const me = await Astro.session?.get('me')
if (!me) {
    return Astro.redirect('/')
}
---
<RoomLayout>
    <div>
        <Room client:idle roomId={roomId} />

    </div>
</RoomLayout>
